@import "../../variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  width: 345px;
  height: 500px;
  background-color: $background;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  align-items: center;

  .name {
    font-size: 24px;
    font-weight: 400;
    width: 100px;
    height: 30px;
    border: 2px solid $black;
    border-radius: 5px;
    background-color: $white;
    text-align: center;
    margin-top: 10px;
    line-height: 30px;
    cursor: default;
  }
}
.itemsWrap {
  width: 90%;
  height: 360px;
  background-color: $white;
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
  overflow-y: scroll;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}
.clear,
.pay {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 120px;
  padding: 5px;
  height: 37px;
  font-size: 18px;
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: center;
  transition: ease-in-out 0.3s;
  &:hover {
    cursor: pointer;
  }
}
.clear {
  background-color: $white;
  color: $accents;
  border: 2px solid $accents;
  &:hover {
    color: $white;
    background-color: $accents;
  }
}
.pay {
  background-color: $white;
  color: $green;
  border: 2px solid $green;
  &:hover {
    color: $white;
    background-color: $green;
  }
}
